@import '../../styles/variables.module.scss';

.PersonalInfo {
  height: $pageHeight;
  color: $greyTextColor;
  margin: auto;
  width: 900px;
  .multiWarp {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
  }

}