.sn-icon {
  border-radius: 50% !important;
  background: rgb(255, 255, 255);
}

.svg-container {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
